// javascript-styles.less

//JavaScript Styles

.webkit-line-content,
.webkit-javascript-ident {
  color: @javascript-ident !important;
}

.webkit-javascript-keyword {
  color: @javascript-keyword !important;
}

.webkit-javascript-comment {
  color: @javascript-comment !important;
}

.webkit-javascript-string {
  color: @javascript-string !important;
}

.webkit-javascript-number {
  color: @javascript-number !important;
}

.webkit-javascript-regexp {
  color: @javascript-regexp !important;
}

.section .properties .name,
.event-properties .name {
  color: @javascript-property-name !important;
}